body {
    font-family: Arial, Helvetica, sans-serif;
}

.updatetitle {
    text-align: center;
    font-size: 50px;
    color: black;
}


.updateform {
    margin: 0px 39% 0px 39%;
    padding: 10px;
    text-align: center;
    border: 3px #0a3805 solid;
    border-radius: 20px;
}

button {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
    border: none;
    margin: 8px 2px 2px 2px;
    padding: 12px 20px;
    width: 3cm;
    text-align: center;
}

.buttons {
    text-align: center;
}

button:hover{
    opacity: 0.8;
}

label {
    color:  black;
    font-size: 17px;
    width: 160px;
    display: inline-block;
    text-align: right;
}

input {
    position: relative;
    font-size: 17px;
    margin-bottom: 5px; 
}